@import "./switch.css";

/* Body background */
body {
  background-image: url('../assets/BackgroundFigure.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

/* Header navbar styling */
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;   
}

.nested_navbar {
  display: grid;
  grid-template-columns: 20% 80%;
}

#navbar {
  display: grid;
  grid-template-rows: 63px;
  grid-template-columns: repeat(6, 1fr);  
  grid-gap: 20px;
  grid-template-areas:
  "hd hd hd hd hd hd";
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 550;
  font-style: normal;
}

/* Title styling */
.title {
  grid-area: ti;
  display: grid;
  grid-template-rows: 52px;
  grid-template-columns: auto auto auto auto 57px;  
  grid-template-areas:
  "ti ti ti ti ti";
  font-family: 'Titillium Web', sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left; 
  padding: 30px; 
  padding-bottom: 0px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Canada flag .svg size */
#canada_flag {
  width: 44px;
}

/* Title elements alignment */
#canadaflag_box, #switch, #change_view {
  justify-content: flex-end;
}

.content_box {
  display: flex;
  padding: 20px;
  column-gap: 16px;
}

#sort_alphabet, #change_view {
  font-family: Source Sans Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  color: #484848;
  text-decoration-line: underline;
  cursor: pointer;
}

#sort_alphabet, #title {
  justify-content: left; 
  padding-left: 12px;
}

/* Cards styling */
.card_box {
  grid-area: card;
  display: grid;
  width: auto;
  height: 292px;
  grid-template-rows: 30px 64px 12px 45px 78px 63px;
  grid-template-columns: auto;
  grid-template-areas:
  "card"
  "card"
  "card" 
  "card" 
  "card" 
  "card";
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 12px;
  padding: 4px 11px;
}
  
.card_box:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
}

.card_grid, .bonus {
  display: flex;
  justify-content: center;
}

/* Card elements styling */
#position1, #position2, #position3, #position4, #position5 {
    justify-content: flex-start;
}

.star {
  width: 55px;
}

#marker {
  width: 72px;
}

.marker {
  display: flex;
  justify-content: center;
}

#view_all {
  height: 34px;
}

/* PLAY NOW button styling */
button {
  display: grid;
  grid-area: bu;
  grid-template-columns: 123px 20px; 
  grid-template-areas:
  "bu bu"; 
  width: 143px;
  height: 36px;
  background-color: #F44337;
  border-radius: 4px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  word-spacing: -0.25px;
  color: #FFFFFF;
  align-items: center;
  cursor: pointer;
}

#arrow {
  height: 10px;
  color: white;
  display: flex;
  justify-content: flex-start;
}

#play {
  display: flex;
  justify-content: flex-start; 
  margin-left: 44px;
}

/* Text styling */
h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: -0.92px;
  color: #525252;
}

h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-decoration-line: underline;
  color: #828282;
}

h4 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.32px;
  color: #2A42ED;
}

a { text-decoration: none; }